<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet" href="styles.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>
  <div id="app" class="container">
    <!-- <div class="screen">
      <div class="alert alert-success" role="alert">
        Vue Corse Goals
      </div>
      <div class="card">
        <div class="d-flex">
          <input v-model="goal" type="text" class="form-control" id="floatingInputGroup1" placeholder="Goals">
          <button @click="addNewGoal()" type="button" class="btn btn-danger">Add Goals</button>
        </div>
        <div class="mt-5">
          <p v-if="goals.length <= 0">No goals have been added yet</p>
          <ul class="list-group list-group-flush">
            <li v-if="goals.length > 0" class="list-group-item d-flex">Goals</li>
            <li v-for="(item, index) in goals" :key="item" class="list-group-item">{{item}} <button class="btn btn-secondary m-2 p-2"
                @click="removeGoal(index)"><i class="bi bi-x-circle-fill"></i></button>
                <input @click.stop/>
              </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="continer-game d-flex align-items-center flex-column">
      <div v-if="winner !== ''">
        <div class="alert alert-success" role="alert">
          <h1>Winner is {{winner}}</h1>
        </div>
      </div>
      <div v-else>

        <div class="card" style="width: 18rem;">
          <div class="alert alert-success" role="alert">
            Monster Slayer
          </div>
          <div class="card-body d-flex justify-content-center">
            <h3 class="card-title">Round {{rounds}}</h5>

          </div>
          <div class="card-body">
            <h5 class="card-title">Monster Health</h5>
            <div class="progress card-text" role="progressbar" aria-label="Basic example" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" :style="{width: monsterHealth+'%'}"></div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Your Health</h5>
            <div class="progress card-text" role="progressbar" aria-label="Basic example" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" :style="{width: playerHealth+'%'}"></div>
            </div>
          </div>
          <div>
            <div @click="addedHeal(index)" v-for="(item, index) in life" :key="item"
              :class="['btn', {'btn-danger' : item.check, 'btn-warning' : !item.check}]">
              {{item.label}}
            </div>
          </div>
          <div class="action d-flex flex-wrap gap-2 p-2">
            <div>
              <button class="btn btn-success" @click="playerAttack()">Attack</button>
            </div>
            <div>
              <button class="btn btn-success" @click="specialAttack()">Special Attack</button>
            </div>
            <div>
              <button class="btn btn-success">Surrender</button>
            </div>
            <div>
              <button @click='showLoggings()' class="btn btn-success">Show Logging</button>
            </div>
          </div>

        </div>
      </div>
      <div v-if="showLogging">
        <ul class="card">
          <li v-for="(item, index) in log" :key="index">{{item}}</li>
        </ul>
      </div>
      <div v-else>
        <h6>Logging</h6>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>

</body>

</html>